add order
{% extends "first_app/layout/main_base.html" %}
{% load crispy_forms_tags %}
{% block title_block %}
  Add Order
{% endblock title_block %}
{% block content_block %}
  <div class="jumbotron mb-0 min-vh-100 d-flex">
    <div class="col-6 mx-auto my-auto">
      <div class="card">
        <div class="card-header">
          <h3 class="mb-0">Add New Order</h3>
        </div>
        <div class="card-body">
          {% for message in messages %}
            <div class="col-12 mx-auto py-2">
              <div class="alert alert-{{message.tags}}">
                {{message}}
              </div>
            </div>
          {% endfor %}
          <form method="post">
            {% csrf_token %}
            {{ form | crispy }}
            <div class="text-center pt-3">
              <button type="submit" name="submit_customer"
              class="btn btn-success">Add Order</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content_block %}
