{% extends "first_app/layout/main_base.html" %}
{% load crispy_forms_tags %}
{% block title_block %}
  Register User
{% endblock title_block %}
{% block content_block  %}
  <div class="container-fluid px-0">
    <div class="jumbotron mb-0 min-vh-100 d-flex">
      <div class="col-6 mx-auto my-auto">
        <div class="card">
          <div class="card-header bg-primary text-white">
            <h3 class="mb-0">Register User</h3>
          </div>
          <div class="card-body">
            {% for message in messages %}
              <div class="py-2">
                <div class="alert alert-{{message.tags}}">
                  {{ message }}
                </div>
              </div>
            {% endfor %}
            <form method="post">
              {% csrf_token %}
              {{ form | crispy}}
              <div class="text-center">
                <button type="submit" class="btn btn-info">Register</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content_block %}
