<div class="container-block">
  <div class="row mx-0">
    <div class="col-3 mx-auto">
      <div class="card bg-primary text-center">
        <div class="card-header">
          <h3 class="card-title text-white">Total</h3>
        </div>
        <div class="card-body">
          <h1 class="text-white mx-0">
            {{ total }}
          </h1>
        </div>
      </div>
    </div>
    <div class="col-3 mx-auto">
      <div class="card bg-warning text-center">
        <div class="card-header">
          <h3 class="card-title text-white">Pending</h3>
        </div>
        <div class="card-body">
          <h1 class="text-white mx-0">
            {{ pending }}
          </h1>
        </div>
      </div>
    </div>
    <div class="col-3 mx-auto">
      <div class="card bg-info text-center">
        <div class="card-header">
          <h3 class="card-title text-white">Delivered</h3>
        </div>
        <div class="card-body">
          <h1 class="text-white mx-0">
            {{ delivered }}
          </h1>
        </div>
      </div>
    </div>
    <div class="col-3 mx-auto">
      <div class="card bg-dark text-center">
        <div class="card-header">
          <h3 class="card-title text-white">Shipping</h3>
        </div>
        <div class="card-body">
          <h1 class="text-white mx-0">
            {{ shipping }}
          </h1>
        </div>
      </div>
    </div>
  </div>
</div>
